.first-day-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #292929; /* Тёмный фон */
  color: white;
}

.header {
  background-color: #1c1c1c; /* Чёрный фон */
  padding: 20px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #ff4500;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.first-day-rules-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.first-day-rules-list li {
  margin-bottom: 15px;
  padding: 10px;
  border-left: 4px solid #ff4500; /* Красный акцент */
  background-color: #1c1c1c; /* Тёмный блок для правил */
  border-radius: 8px; /* Лёгкое скругление */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Тень для объёма */
}

.first-day-rules-list li strong {
  color: #ff4500;
}

.notice {
  margin-top: 20px;
  font-size: 16px;
  color: #e63946; /* Красный акцент для предупреждения */
  text-align: center;
  font-weight: bold;
}

.menu-button {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: #1c1c1c; /* Чёрный фон кнопки */
  border: 2px solid #ff4500; /* Красный контур */
  border-radius: 8px; /* Лёгкое скругление */
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  box-shadow: 0 6px 10px rgba(255, 69, 0, 0.5); /* Тень кнопки */
  text-decoration: none; /* Убираем подчёркивание текста */
}

.menu-button:hover {
  transform: translateY(-3px); /* Эффект поднятия кнопки */
  box-shadow: 0 8px 15px rgba(255, 69, 0, 0.7); /* Более глубокая тень при наведении */
  background-color: #2f2f2f; /* Стальной серый фон */
  border-color: #e63946; /* Более яркий контур */
}

.footer {
  background-color: #0f0f0f; /* Самый тёмный оттенок */
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #ff4500;
}





@media (max-width: 768px) {
  .first-day-rules-list li {
    padding: 8px; /* Компактные отступы для правил */
    font-size: 14px; /* Уменьшение размера текста */
  }

  .header {
    font-size: 28px; /* Адаптация заголовка для планшетов */
  }

  .menu-button {
    padding: 10px 20px;
    font-size: 16px; /* Оптимизация размера кнопок */
  }
}

@media (max-width: 480px) {
  .first-day-rules-list {
    margin: 5px 0;
  }

  .first-day-rules-list li {
    font-size: 12px; /* Компактный текст для правил */
    margin-bottom: 8px;
  }

  .header {
    font-size: 24px;
    padding: 5px; /* Уменьшение для маленьких экранов */
  }

  .notice {
    font-size: 14px; /* Размер текста уведомлений */
  }

  .menu-button {
    font-size: 14px;
    padding: 8px 15px; /* Компактность кнопок */
  }

  .footer {
    font-size: 12px;
    padding: 5px; /* Компактный футер */
  }
}
